@import "components/bourbon/dist/bourbon";
@import "depth";

@mixin input($padding, $highlight, $contrast:#fff) {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  outline: 0;
  position: relative;

  font: inherit;

  padding: $padding;

  @include clickable-depth(3, 2);

  border: 1.4px solid;
  border-color: fade-out($highlight, 0.5);
  color: inherit;
  
  &:focus {
    border-color: $highlight;
  }
}