@import "components/bourbon/dist/bourbon";
@import "reset";
@import "typography";
@import "layout";
@import "depth";
@import "shapes";
@import "input";
@import "buttons";
@import "responsive";

$primaryColor: #037CF1;
$accentColor: #FFC300;
$alertColor: #9CF2FF; 
$dangerColor: #FF5300;
$textColor: #111;
$meColor: #00AB6F;

body {
  color: $textColor;
}

a {
  color: $primaryColor;
  text-decoration: none;
}

text {
  font: inherit;
}

.fadeIn {
  opacity: 0;

  @include transition(opacity 0.4s);
  &.visible {
    opacity: 1;
  }
}

.button {
  @include button(1rem 2rem, $primaryColor);
  border-radius: 2px;
  @include perfect-fourth(1);
  &.option {
    @include perfect-fourth(0);
  }

  .accent & {
    @include button-color($accentColor);
  }
  .secondary & {
    @include button-color(#666);
  }
}

.textbox {
  @include input(1rem 2rem, $primaryColor);
  border-radius: 2px;
}

#header {
  background: $primaryColor;
  color: #fff;
  position: relative;

  @include depth(2);

  .header {
    @include responsive-document(800px, 55%);
    padding: 1rem 2rem;

    h1 {
      @include display(flex);
      @include align-items(center);
      cursor: pointer;
    }
  }

  .button {
    @include horizontal-divider(margin, 1rem);
    @include button-color(#fff, $primaryColor);
  }
}

.fa.fixed {
  width: 48px;
  text-align: center;
  vertical-align: middle;
  font-size: 48px;
  margin-right: 16px;
}

.loading {
  padding-top: 6rem;
}

.cards {
  background: #f5f5f5;

  .card {
    &.report {
      background: mix($alertColor, #fff, 10%);
    }
    
    @include vertical(margin, 3rem);
    @include responsive-document(800px, 55%);
    @include depth(5);
    padding: 3rem;
    background: #fff;

    header {
      @include display(flex);
      @include align-items(center);

      h3 {
        @include flex-grow(1);
        @include display(flex);
        @include align-items(center);
      }
      h4 {
        @include perfect-fourth(3);
      }
    }
  }

  &.slideIn .card {
    @include transform(translateY(2000px));
    @include transition(transform 0.6s ease-out);
    &:nth-child(2) {
      @include transition-delay(0.1s);
    }
  }
  &.slideIn.sliding .card {
    @include transform(translateY(0px));
  }

  .lineChart {
    height: 400px;

    .legendText, .tick {
      font-size: 1.3333rem;
    }
    &.currentUsage {
      .tick {
        display: none;
      }
    }
    .legendItem path {
      display: none;
    }

    &.neighbors .y.axis {
      opacity: 0;
    }

    &.neighbors .content .columnGroup rect:nth-child(14) {
      fill: $meColor;
      stroke: $meColor;
    }
  }

  form {
    label, .label {
      @include display(flex);
      margin-top: 1rem;
      @include align-items(center);

      &>.name {
        width: 25%;
      }
      &>.name, input {
        @include perfect-fourth(2);
        @include flex-shrink(0);
      }
    }

    .buttons {
      margin-top: 3rem;
    }
  }

  .inputArea {
    display: block;
  }

  .inputArea.buttonList {
    margin-top: 8px;

    .button {
      display: inline-block;
      margin-right: 8px;
      margin-bottom: 8px;
    }
  }
}

.welcome.cards .card {
  text-align: center;
  width: auto;
  min-width: 0;
  max-width: none;
  cursor: pointer;

  @include depth(5);
  @include transition(box-shadow 0.2s, transform 0.2s);

  &:active {
    @include depth(3);
    @include transform(translateY(4px));
  }
  &.out {
    @include transition(box-shadow 0.2s, transform 0.8s);
    @include transform(translateX(2000px));
  }

  .logo {
    font-size: 144px;
    margin-bottom: 4rem;
  }
  .button {
    margin: 2rem auto 0;
  }
}