@import "components/bourbon/dist/bourbon";
@import "reset";
@import "typography";
@import "layout";
@import "depth";
@import "shapes";
@import "input";
@import "buttons";
@import "responsive";

$primaryColor: #037CF1;
$accentColor: #FFC300;
$alertColor: #9CF2FF; 
$textColor: #111;

body {
  color: $textColor;
}

.button {
  @include button(1rem 2rem, $primaryColor);
  border-radius: 2px;

  .accent & {
    @include button-color($accentColor);
  }
  .secondary & {
    @include button-color(#666);
  }
  .dangerzone & {
    @include button-color(#FF5300);
  }
}

.textbox {
  @include input(1rem 2rem, $primaryColor);
  border-radius: 2px;
}

#header {
  background: $primaryColor;
  color: #fff;
  position: relative;

  @include depth(2);

  .header {
    @include responsive-document(800px, 55%);
    padding: 1rem 2rem;
  }

  .button {
    @include horizontal-divider(margin, 1rem);
    @include button-color(#fff, $primaryColor);
  }
}

.loading {
  padding-top: 6rem;
}

.cards {
  background: #f9f9f9;

  .card {
    &.report {
      background: $alertColor;
    }
    
    @include vertical(margin, 3rem);
    @include responsive-document(800px, 55%);
    @include depth(1);
    padding: 3rem;
    background: #fff;

    header {
      @include display(flex);
      h3 {
        @include flex-grow(1);
      }
    }
  }

  .lineChart {
    height: 400px;

    .legendText, .tick {
      font-size: 1.3333rem;
    }
    &.currentUsage {
      .tick {
        display: none;
      }
    }
    .legendItem path {
      display: none;
    }
  }

  form {
    label, .label {
      @include display(flex);
      margin-top: 1rem;
      @include align-items(center);

      &>.name {
        width: 25%;
      }
      &>.name, input {
        @include perfect-fourth(2);
        @include flex-shrink(0);
      }
    }

    .buttons {
      margin-top: 3rem;
    }
  }

  .inputArea {
    display: block;
  }

  .inputArea.buttonList {
    margin-top: 8px;

    .button {
      display: inline-block;
      margin-right: 8px;
      margin-bottom: 8px;
    }
  }
}