<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>PadLab</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="content-type" content="charset=UTF8">

  <link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body layout="vertical fullbleed" ng-controller="main">

  <header id="header" layout="fixed vertical center">
    <div layout="horizontal center" class="header">
      <div layout="block fixed">
        <h1 ng-click="showMain()">padLab Dashboard</h1>
      </div>
      <div layout="block grow"></div>
      <div layout="fixed horizontal">
        <button class="button bordered" ng-click="showExperiment()">Experiment</button>
      </div>
    </div>
  </header>
  <section layout="vertical flexible center scroll" class="cards" ng-show="view == 'experiment'">
    <div class="card experiment">
      <header>
        <h3>New Experiment</h3>
      </header>
      <form name="experimentForm" novalidate>
        <label>
          <span class="name">Name</span>
          <span class="inputArea">
            <input type="text" class="textbox" name="name" ng-model="experiment.name" placeholder="what's new?">
          </span>
        </label>
        <label>
          <span class="name">Price</span>
          <span class="inputArea">
            <input type="text" class="textbox" name="name" ng-model="experiment.price" placeholder="$__.__">
          </span>
        </label>
        <label>
          <span class="name">Circuits affected</span>
          <span class="inputArea buttonList">
            <button type="button" class="button option"
              ng-repeat="(key, circuit) in filteredCircuits"
              ng-class="{selected: experiment.circuits[key]}"
              ng-click="toggleCircuit(key)">
              {{ circuit }}
            </button>
          </span>
        </label>
        <div class="buttons" layout="horizontal">
          <div class="left" layout="block grow">
            <button class="button ink" ng-click="showMain()">Nevermind</button>
          </div>
          <div class="right" layout="block">
            <button class="button">Start experiment</button>
          </div>
        </div>
      </form>
    </div>
  </section>
  <section layout="vertical flexible center scroll" class="cards" ng-show="view == 'main'">
    <div class="card">
      <header>
        <h3>Current Usage</h3>
        <h4>{{ currentUsage.slice(-1)[0].main | number }} watts</h4>
      </header>
      <div class="lineChart currentUsage">
        <linechart data="currentUsage" options="currentUsageOptions" mode=""></linechart>
      </div>
    </div>
    <div class="card">
      <header>
        <h3>Usage Anomaly</h3>
        <h4>{{ anomaly.title }}</h4>
      </header>
      <p>
        {{ anomaly.title }} load is much higher than usual<br>
        <span style="font-style:italic">Did you leave a window open?</span>
      </p>
      <div class="lineChart">
        <linechart data="todayUsage" options="anomaly.chartOptions" mode=""></linechart>
      </div>
    </div>
    <div class="card">
      <header>
        <h3>Efficiency Upgrade</h3>
        <h4>{{ upgrade.title }}</h4>
      </header>
      <p>Your {{ upgrade.name }} use more electricity than most of your neighbors</p>
      <p>
        Switching to <a target="_blank" href="{{ upgrade.upgradePath.link }}">{{ upgrade.upgradePath.name }}</a> could save you <span style="font-weight:normal">{{ upgrade.upgradePath.savings | currency }}/month</span><br>
        with a payback period of <span style="font-weight:normal">{{ upgrade.upgradePath.payback }}</span>
      </p>
      <div class="lineChart">
        <linechart data="upgrade.chartData" options="upgrade.chartOptions" mode="thumbnail"></linechart>
      </div>
    </div>
  </section>

<script src="components/angular/angular.js"></script>
<script src="components/d3/d3.js"></script>
<script src="components/n3-line-chart/dist/line-chart.js"></script>
<script src="js/app.js"></script>
</body>
</html>