<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>padLab</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="content-type" content="charset=UTF8">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/app.css">
</head>
<body layout="vertical fullbleed" ng-controller="main">

  <header id="header" layout="fixed vertical center">
    <div layout="horizontal center" class="header">
      <div layout="block fixed">
        <h1 ng-click="showMain()" class="fadeIn" ng-class="{visible: view != 'welcome'}"><i class="fixed fa fa-bolt"></i>padLab {{ currentPage }}</h1>
      </div>
      <div layout="block grow"></div>
      <div layout="fixed horizontal" class="fadeIn" ng-class="{visible: view == 'dashboard'}">
        <button class="button ink" ng-click="fastForward()"><i class="fa fa-forward"></i> Fast forward</button>
        <button class="button bordered" ng-click="showExperiment()"><i class="fa fa-flask"></i> Experiment</button>
      </div>
    </div>
  </header>
  <section layout="vertical flexible center" class="welcome cards" ng-show="view == 'welcome'">
    <div class="card" ng-mouseup="signUp()" ng-class="{out:signingIn}">
      <i class="logo fa fa-bolt"></i>
      <h3>Welcome to padLab</h3>
      <button class="button flat bordered">sign in</button>
    </div>
  </section>
  <section layout="vertical flexible center" class="loading" ng-show="loading">
    <i class="logo fa fa-spinner fa-spin"></i>
    <h3>Loading...</h3>
  </section>
  <section layout="vertical flexible center scroll" class="cards" ng-show="view == 'experiment'">
    <div class="card experiment">
      <header>
        <h3>New Experiment</h3>
      </header>
      <form name="experimentForm" novalidate>
        <label>
          <span class="name">Name</span>
          <span class="inputArea">
            <input type="text" class="textbox" name="name" ng-model="experiment.name" placeholder="what's new?">
          </span>
        </label>
        <label>
          <span class="name">Price</span>
          <span class="inputArea">
            <input type="text" class="textbox" name="price" ng-model="experiment.price" placeholder="$__.__">
          </span>
        </label>
        <div class="label">
          <span class="name">Circuits affected</span>
          <span class="inputArea buttonList">
            <button type="button" class="button option"
              ng-repeat="(key, circuit) in filteredCircuits"
              ng-class="{selected: experiment.circuits[key]}"
              ng-click="toggleCircuit(key)">
              {{ circuit }}
            </button>
          </span>
        </div>
        <div class="buttons" layout="horizontal">
          <div class="left" layout="block grow">
            <button class="button ink" ng-click="showMain()">Nevermind</button>
          </div>
          <div class="right" layout="block">
            <button class="button" ng-click="startExperiment()">Start experiment</button>
          </div>
        </div>
      </form>
    </div>
  </section>
  <section layout="vertical flexible center scroll" class="cards slideIn" ng-class="{sliding: sliding}" ng-show="view == 'dashboard' && !loading">
    <div class="card" ng-repeat="exp in experiments" ng-class="{report: !experimentReady(exp)}">
      <header>
        <h3>{{ exp.name }} experiment</h3>
        <h4>{{ timeSince(exp.started) }}</h4>
      </header>
      <p ng-hide="experimentReady(exp)">
        Looking for patterns, check back later
      </p>
      <p ng-show="experimentReady(exp)">
        Your <span style="font-weight:normal">{{ humanCircuits(exp.circuits) }}</span> <span style="font-weight:normal">{{ exp.improvement * 100 | number }}%</span> less energy than usual.
        You are saving <span style="font-weight:normal">{{ exp.savings | currency }}/month</span><br>
        with an estimated payback period of <span style="font-weight:normal">{{ exp.payback }}</span>
      </p>
      <div class="lineChart currentUsage" ng-if="experimentReady(exp)">
        <linechart data="todayUsage" options="exp.chartOptions" mode=""></linechart>
      </div>
    </div>
    <div class="card">
      <header>
        <h3><i class="fixed fa fa-plug"></i>Current Usage</h3>
        <h4>{{ currentUsage.slice(0, 1)[0].main | number }} watts</h4>
      </header>
      <div class="lineChart currentUsage">
        <linechart data="currentUsage" options="currentUsageOptions" mode=""></linechart>
      </div>
    </div>
    <div class="card anomaly" ng-show="anomaly">
      <header>
        <h3><i class="fixed fa fa-exclamation"></i>Usage Anomaly</h3>
        <h4>{{ anomaly.title }}</h4>
      </header>
      <p>
        {{ anomaly.title }} load is much higher than usual today<br>
        <span style="font-style:italic">Did you leave a window open?</span>
      </p>
      <div class="lineChart anomaly">
        <linechart data="todayUsage" options="anomaly.chartOptions" mode=""></linechart>
      </div>
    </div>
    <div class="card">
      <header>
        <h3><i class="fixed fa fa-lightbulb-o"></i>Efficiency Upgrade</h3>
        <h4>{{ upgrade.title }}</h4>
      </header>
      <p>Your {{ upgrade.name }} use more electricity than most of your neighbors</p>
      <p>
        Switching to <a target="_blank" href="{{ upgrade.upgradePath.link }}">{{ upgrade.upgradePath.name }}</a> could save you <span style="font-weight:normal">{{ upgrade.upgradePath.savings | currency }}/month</span><br>
        with a payback period of <span style="font-weight:normal">{{ upgrade.upgradePath.payback }}</span>
      </p>
      <div class="lineChart neighbors">
        <linechart data="upgrade.chartData" options="upgrade.chartOptions" mode=""></linechart>
      </div>
    </div>
  </section>

<script src="components/angular/angular.js"></script>
<script src="components/d3/d3.js"></script>
<script src="components/n3-line-chart/dist/line-chart.js"></script>
<script src="js/app.js"></script>
</body>
</html>